[Unit]
Description=gdsc-ml apiserver gunicorn daemon
Requires=gdsc-ml.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/gdsc-yonsei
Environment="PATH=/usr/local/bin/"
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:/gdsc-ml.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target