alembic==1.7.7
aniso8601==9.0.1
attrs==22.2.0
bcrypt==4.0.1
certifi==2016.9.26
click==8.0.4
dataclasses==0.8
flask_cors
Flask==1.1.2
werkzeug==0.16.0
Flask-Bcrypt==1.0.1
Flask-Migrate==2.7.0
flask-restplus==0.13.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
greenlet==2.0.2
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==3.2.0
Mako==1.1.6
MarkupSafe==2.0.1
PyJWT==2.4.0
pyrsistent==0.18.0
pytz==2023.3.post1
six==1.16.0
SQLAlchemy==1.4.50
typing_extensions==4.1.1
zipp==3.6.0
